<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-justify text-center mt-3">Olá, seja bem vindo ao Jogo da Velha!</h1>
            <p class="lead text-justify text-center">Escolha X ou Círculo</p>
            <div class="row">
                <div class="col"></div>
                <div class="col text-center">
                    <div class="card" style="width: 18rem;">
                        <img style="width: 50%;" src="assets/xis.svg"
                            class="card-img-top img-fluid mt-3 mx-auto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Jogador 1</h5>
                            <form>
                                <div class="form-group">
                                    <label for="inputJ1">Nome</label>
                                    <input type="text" class="form-control" id="inputJ1" placeholder="Informe seu nome">
                                </div>
                            </form>
                            <a href="#" class="btn btn-primary">Confirmar</a>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="card" style="width: 18rem;">
                        <img style="width: 50%;" src="assets/circle.svg"
                            class="card-img-top img-fluid mt-3 mx-auto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Jogador 2</h5>
                            <form>
                                <div class="form-group">
                                    <label for="inputJ2">Nome</label>
                                    <input type="text" class="form-control" id="inputJ2" placeholder="Informe seu nome">
                                </div>
                            </form>
                            <a href="#" class="btn btn-primary">Confirmar</a>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>