<div class="container-fluid mt-3">
  <div class="row">
    <div class="col">
      <h1 class="text-justify text-center mt-3">Olá, seja bem vindo ao Jogo da Velha!</h1>
      <p class="lead text-justify text-center">Escolha X ou Círculo</p>
      <div class="row">
        <div class="col"></div>
        <div class="col text-center">
          <div class="card" style="width: 18rem;">
            <img style="width: 50%;" src="assets/xis.svg" class="card-img-top img-fluid mt-3 mx-auto" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jogador 1</h5>
              <form [formGroup]="jogador1Form">
                <div class="form-group">
                  <input *ngIf="jogador1Conectado" disabled formControlName="nome" type="text" class="form-control"
                    id="inputJ1" placeholder="Informe seu nome">
                  <input *ngIf="!jogador1Conectado" formControlName="nome" type="text" class="form-control" id="inputJ1"
                    placeholder="Informe seu nome">
                </div>
              </form>
              <button *ngIf="jogador1Conectado" disabled class="btn btn-primary">Confirmar</button>
              <button *ngIf="!jogador1Conectado" href="#" (click)="confirmarJogador1()"
                class="btn btn-primary">Confirmar</button>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <div class="card" style="width: 18rem;">
            <img style="width: 50%;" src="assets/circle.svg" class="card-img-top img-fluid mt-3 mx-auto" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jogador 2</h5>
              <form [formGroup]="jogador2Form">
                <div class="form-group">
                  <input *ngIf="jogador2Conectado" disabled formControlName="nome" type="text" class="form-control"
                    id="inputJ2" placeholder="Informe seu nome">
                  <input *ngIf="!jogador2Conectado" formControlName="nome" type="text" class="form-control" id="inputJ2"
                    placeholder="Informe seu nome">
                </div>
              </form>
              <button *ngIf="jogador2Conectado" disabled class="btn btn-primary">Confirmar</button>
              <button *ngIf="!jogador2Conectado" href="#" (click)="confirmarJogador2()"
                class="btn btn-primary">Confirmar</button>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col text-center mt-3 mr-3">
          <span class="lead mt-5 mb-5">{{statusInicio}}</span>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0;"
              aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              {{percentualProgresso}}%</div>
          </div>
          <button *ngIf="!prontoParaIniciar" href="#" disabled
            class="btn btn-secondary btn-lg btn-block mt-3">Jogar</button>
          <button *ngIf="prontoParaIniciar" href="#" (click)="iniciarJogo()" class="btn btn-secondary btn-lg btn-block mt-3">Jogar</button>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>