/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-toastr/toastr.css";

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  color: #fff !important;
  background-color: #00a896 !important;
  border-color: #00a896 !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  color: #fff !important;
  background-color: #028090 !important;
  border-color: #028090 !important;
}

.progress-bar {
  background-color: #616f7d !important;
}
